<h2><%= gettext "Edit Sensor" %></h2>

<%= render "form.html", Map.put(assigns, :action, sensor_path(@conn, :update, @sensor)) %>

<span><%= link gettext("Back"), to: sensor_path(@conn, :index) %></span>
