<h2><%= gettext "Dashboard" %></h2>
<span><%= gettext "Monitor selected sensors in real time" %></span>

<hr />

<div id="dashboard_content">
</div>


<script type="text/javascript">
    var initial_state = { 
        sensors: <%= raw render_to_string(SensorNodesWeb.SensorView, "sensors.json", sensors: @sensors) %>,
        user_id: <%= current_user(@conn).id %>,
        token: "<%= assigns[:user_token] %>"
    };
</script>
