<div class="jumbotron">
  <h2><%= gettext "Welcome to TermoPower online" %></h2>
  <p class="lead"><%= gettext "Here you can register your node controllers and watch, in real time, the temperature of your controlled environments" %></p>
</div>

